<%- include('../layouts/header') %>
  <body class="bg-white">
    <div
      class="alert alert-info alert-dismissible fade show text-center text-light"
      style="background-color: black"
      role="alert"
    >
      Sign up and get 20% off on your first order.
      <a href="/register" class="alert-link text-light">Sign Up Now</a>
      <button
        type="button"
        class="btn-close btn-close-white"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light">
      <div
        class="container bg-white"
        style="display: flex; justify-content: center"
      >
        <a class="navbar-brand" href="#">
          <img
            src="/public/images/common/harmony-logo.svg"
            alt=""
            width="188"
            height="75"
            class="d-inline-block align-text-top"
          />
        </a>
      </div>
    </nav>

    <main class="mt-5">
      <div class="container">
        <div class="row justify-content-center bg-white">
          <div class="col-lg-5" style="border-radius: 70px">
            <div
              class="card shadow-lg p-4 mb-5"
              style="background-color: black; color: white; border-radius: 70px"
            >
              <div class="card-body">
                <h1 class="card-title text-center mb-4">Verify Email</h1>

                <form id="forgotPasswordForm" action="/forgot-password" method="post">
                  <div class="form-floating mb-2">
                    <input
                      type="email"
                      class="form-control"
                      style="border-radius: 25px; margin-top: 40px"
                      id="typeEmailX"
                      name="email"
                      placeholder="Email"
                    />
                    <label for="typeOtpX" class="text-dark">Email</label>
                  </div>
                  <div class="form-floating mb-2">
                    <input
                      type="password"
                      class="form-control"
                      style="border-radius: 25px; margin-top: 40px"
                      id="typeOtpX"
                      name="password"
                      placeholder="New password"
                    />
                    <label for="typeOtpX" class="text-dark">New Password</label>
                  </div>
                  <% if (locals.message) { %>
                  <div class="ms-2 text-danger"><%= message %></div>
                  <% } %>

                  <div class="d-grid gap-2">
                    <button
                      class="btn btn-light w-50 mx-auto"
                      style="
                        margin-left: 50%;
                        border-radius: 49px;
                        margin-top: 20px;
                      "
                      type="submit"
                    >
                      Send
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('../layouts/footer') %>
