<%- include('../layouts/userLayout/header') %>
  <body class="bg-white">
   

    <nav class="navbar navbar-expand-lg navbar-light">
      <div
        class="container bg-white"
        style="display: flex; justify-content: center"
      >
        <a class="navbar-brand" href="#">
          <img
            src="/public/images/common/harmony-logo.svg"
            alt=""
            width="188"
            height="75"
            class="d-inline-block align-text-top"
          />
        </a>
      </div>
    </nav>

    <main class="mt-5">
      <div class="container">
        <div class="row justify-content-center bg-white">
          <div class="col-lg-5" style="border-radius: 70px">
            <div
              class="card shadow-lg p-4 mb-5"
              style="background-color: black; color: white; border-radius: 70px"
            >
            <div style="display: block; text-align: center; color: rgb(206, 218, 30);" id="otpExpiryTimer"></div>
              <div class="card-body">
                <h1 class="card-title text-center mb-4">Verify OTP</h1>

                <form id="verifyform" action="/verify" method="post">
                  <div class="form-floating mb-2">
                    <input
                      type="text"
                      class="form-control"
                      style="border-radius: 25px; margin-top: 40px"
                      id="typeOtpX"
                      name="otp"
                      placeholder="OTP"
                    />
                    <label for="typeOtpX" class="text-dark">OTP</label>
                  </div>
                  <% if (locals.message) { %>
                  <div class="ms-2 text-danger"><%= message %></div>
                  <% } %>

                  <div class="d-grid gap-2">
                    <button
                      class="btn btn-light w-50 mx-auto"
                      style="
                        margin-left: 50%;
                        border-radius: 49px;
                        margin-top: 20px;
                      "
                      type="submit"
                    >
                      Verify
                    </button>
                    <div style="text-align: center; display: flex">
                      <a id="resendOtp" type="button"
                        style="
                          text-align: center;
                          text-decoration: none;
                          width: 100%;
                          margin-top: 10px;
                        "
                        onclick="resendOtp()"
                        >Resend OTP <span id="timer" style="color: white; margin-left: 5px;"></span></a
                      >
                      
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="/public/js/loginScript.js"></script>

    <script>
      const resendOtp=()=>{
        console.log("Hey")
        $.ajax({
          url:"/resendOtp",
          method:"POST",
          success:(response)=>{
            Toastify({
              text: `Otp Resend`,
              duration: 3000,
              gravity: "top",
              position: "center",
              stopOnFocus: true,
              style: {
                background: "green",
              },
            }).showToast();
            setTimeout(() => {
              location.reload()
            }, 1000);;
          }
        })
      }
    </script>

    <%- include('../layouts/userLayout/footer') %>
