

</main>
<script src="/public/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/public/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/public/admin-assets/js/vendors/select2.min.js"></script>
<script src="/public/admin-assets/js/vendors/perfect-scrollbar.js"></script>
<script src="/public/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
<script src="/public/admin-assets/js/vendors/chart.js"></script>
<!-- Main Script -->
<script src="/public/admin-assets/js/main.js" type="text/javascript"></script>
<script src="/public/admin-assets/js/custom-chart.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-X+qY3Q9zX/S2+z+xP64y8098jF95x+v75iV685v4zTq1c7O+Lq35/l2p76Y2sF657nJ14e7xRnVqP8" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



<script>
    $(document).on('click', 'nav ul li', function () {
        $(this).addClass('active')
    })
</script>


<script src="https://code.jquery.com/jquery-3.6.4.js"></script>


<!-- Datatable-Plugin of j-query-->
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<!-- toastify -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    $(document).ready(function () {
        $('#userTable').DataTable();
    });

    $(document).ready(function () {
        $('#prodTable').DataTable();
    });
    $(document).ready(function () {
        $('#orderTable').DataTable();
    });
    $(document).ready(function () {
        $('#orderDetailsTable').DataTable();
    });
    
</script>

<!-- toastify -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<script src="https://cdn.jsdelivr.net/npm/cropperjs@1.5.12/dist/cropper.js"></script>


</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->

</html>